# Database Configuration
DB_HOST=localhost
DB_NAME=db_koperasi
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

# Application Configuration
APP_URL=http://app-koperasi.test
API_IMPORT_SECRET=secret123

# Redis Configuration
# Use '127.0.0.1' for TCP or '/path/to/redis.sock' for Unix socket
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=0
REDIS_PREFIX=koperasi_
